<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>title</title>
 </head>
 <body>
 <h1>ColeChain</h1>
 <p> Salary Analysis for Entry Level Software Engineer </p>
 <p>Boost your salary by 10k by learning: Visual Basic &amp; Java!&nbsp;</p>
 <table style="height: 218px; width: 411px;">
<table style="height: 218px; width: 411px; float: left;" border="3">
<tbody>
<tr style="height: 54px;">
<td style="width: 136px; height: 54px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp;Company</strong></td>
<td style="width: 135.046875px; height: 54px;">&nbsp;<strong>Expected&nbsp;Salary</strong></td>
<td style="width: 133.953125px; height: 54px;">&nbsp;<strong>Desired Skills&nbsp;</strong></td>
</tr>
<tr style="height: 54px;">
<td style="width: 136px; height: 54px;">&nbsp; &nbsp; &nbsp; <strong>&nbsp;Quartet</strong></td>
<td style="width: 135.046875px; height: 54px;">&nbsp; 70k</td>
<td style="width: 133.953125px; height: 54px;">&nbsp; C++, Python, Java</td>
</tr>
<tr style="height: 54px;">
<td style="width: 136px; height: 54px;">&nbsp; &nbsp; &nbsp; &nbsp;<strong>Pillar Inc</strong></td>
<td style="width: 135.046875px; height: 54px;">&nbsp; 60k</td>
<td style="width: 133.953125px; height: 54px;">&nbsp;Python, Visual &nbsp;Basic, Javascript, C++</td>
</tr>
<tr style="height: 54px;">
<td style="width: 136px; height: 54px;">&nbsp; &nbsp; &nbsp;&nbsp;<strong>Ejurgy</strong></td>
<td style="width: 135.046875px; height: 54px;">&nbsp; 75k</td>
<td style="width: 133.953125px; height: 54px;">C++, Javascript, Python &nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
</table>

 </body>
</html>
